
@import url(../assets/fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #483434;
}

body {
  background-color: #EED6C4;
}

a>img {
    width: 2em;
    height: 2em;
}
.return-wrapper>a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #483434;
}
.return-container {
    width: 15%;
    margin: 2em 0 0 2em;
}
a {
  background-image: linear-gradient(
    to right,
    #6B4F4F,
    #6B4F4F 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #6B4F4F;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

.about-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
#for-margin {
  margin-left: 5em;
}

.about-container {
  margin: 0 5em 0 5em;
}

.description {
  background-color: #FFF3E4;
  padding: 1.5em;
  border-radius: 1.5em;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: scale .3s ease-in-out;
}

.description>p {
  font-family: 'Quicksand', sans-serif;
}

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.7em;
}

.cards1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF3E4;
  padding: 1.5em;
  border-radius: 1.5em;
  height: 15em;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}

.cards1>img {
  margin-bottom: 2em;
}

.cards1>p {
  font-family: 'Quicksand', sans-serif;
}

.cards1:hover {
  scale: 1.1;
  transform: perspective(500px) rotateX(30deg) rotateY(-25deg);
  transition: all .3s ease-in-out;
}
.description:hover {
  scale: 1.03;
  transition: scale .3s ease-in-out;
}
#title:hover {
  scale: 1.03;
  transition: scale .3s ease-in-out;
}
.cards-container1:hover {
  scale: 1.03;
  transition: scale .3s ease-in-out;
}

::-webkit-scrollbar {
  height: .5em;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
}

.cards-container1 {
  display: flex;
  gap: 12px;
  max-width: 27em;
  width: 100%;
  background: #FFF3E4;
  border-radius: 1em;
  margin-top: 1em;
  padding: 2em;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 2em;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: scale .3s ease-in-out;
}
.cards-container1 .card {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  scroll-snap-align: start;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.card .image {
  height: 150px;
  width: 150px;
  padding: 4px;
  background: #FFF3E4;
  border-radius: 50%;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}

.image-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card h2 {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 600;
}

#company-name {
    font-size: 20px;
}

.card p {
  font-family: 'Quicksand', sans-serif;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

#company-tagline2 {
    font-size: 15px;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
}


.card-img {
    width: 4em;
    height: 4em;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF3E4;
  width: 13em;
  height: 4em;
  border-radius: 1em;
  margin-bottom: 2em;
  font-weight: bolder;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: scale .3s ease-in-out;
}
#title>h1 {
  font-size: 1.7em;
}