@import url(../assets/fonts/fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a>img {
    width: 9em;
    height: 6em;
}

.cart-icon>img {
    width: 1.7em;
    height: 1.6em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.navs-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-navs-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-navs-wrapper>a {
    color: #483434;
    font-weight: 600;
    font-size: 95%;
}

.bttn-navs-wrapper {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5em;
}

.logo {
    margin-left: 3.3em;
}

a {
    text-decoration: none;
    color: black;
}

.contact-wrapper {
    background-color: #6B4F4F;
    padding: .5em 1em;
    border-radius: 1em;
    margin-right: 1.4em;
}

.contact-wrapper>a {
    color: #FFF3E4;
    font-size: 95%;
    font-weight: bold;
}

.cart-icon {
    background-color: #6B4F4F;
    padding: .5em 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}