.product-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;}
  
.product-slide {
    flex: 0 0 200px; /* Initial size */
    height: 200px;
    justify-content: space-around;
    background-color: #f1f1f1;
    scroll-snap-align: start;
    transition: flex 0.5s ease-in-out;
}
  
.product-slide.active {
    flex: 0 0 400px; /* Enlarged size */
}