.whats-new-container {
  /*background-color: #FFF3E4;
  opacity: 0.8;
  background-image: radial-gradient(#483434 0.5px, transparent 0.5px), radial-gradient(#483434 0.5px, #FFF3E4 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;*/
  background-image: url(../assets/images/background-pics/WhatsNewPage.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whats-new-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 0 6em 0;
}

.title-row {
  margin: 1.5em 0 1.5em 0;
}

.title-row > h1 {
  font-size: 3em;
}

.image > img {
  width: 13rem;
  height: auto;
  border-radius: 1em;
}

#middle-img {
  margin: 0 1em 0 1em;
}

.row1,
.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texts {
  padding: 3em;
  border-radius: 40px;
  background: #FEF8F1;
  box-shadow:  7px 7px 30px #6b6b6b;
}

.row1 {
  margin-bottom: 2em;
}

.row1 > .texts {
  margin-right: 7em;
}

.row2 > .texts {
  margin-right: 9em;
}

.texts > h1 {
  font-size: 2em;
}

.stacked-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 30px;
  background: #FEF8F1;
  box-shadow:  7px 7px 30px #6b6b6b;
}

.promo-vid {
  padding: 1em;
  border-radius: 30px;
  background: #FEF8F1;
  box-shadow:  7px 7px 30px #6b6b6b;
}
.promo-vid > video {
  border-radius: 1em;
}

#whats-new {
  padding: 5em;
}

.image:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
